.a1 {
    font-style: italic;
    background-color: rgba(157, 224, 161, 0.402);
    /* target: _blank */
}

h1 {
    font-size: 250%;
    margin-left: 250px;
    background-color: beige;
    padding: 10px;
    display: inline-block;
}

.p1 {
    font-size: 250%;
    margin-left: 50px;
}

.p2 {
    font-size: 200%;
    margin-left: 50px;
}

.sl {
    font-size: 200%;
    margin-left: 10px;
    color: #000833;
}

p {
    margin: 5PX;
}

.div1 {
    margin: 0px;
    display: inline-block;  
    margin-left: 50px;
}

.navi {
    font-size:35px;
    margin-left: 50px;
    text-align: center;
    border: 1px solid #7755ad;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
    -webkit-text-stroke: 1px #FFB800;
}

a {
    text-decoration: none;
    color: #FFB800;
}

.p0 {
    background-color: beige;
    padding: 10px;
    display: inline-block;
    font-size: 200%;
    margin-left: 50px;
}

.dtu {
    font-size: 250%;
    margin-left: 825px;
    background-color: beige;
    padding: 10px;
    display: inline-block;
}

.color2 {
    font-size: 200%;
    margin-left: 50px;
    background-color: beige;
    display: inline-block;
}

.dtu2 {
    margin-right: 75px;
}